body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

#film_result {
  display:flex;
  flex:1;
  justify-content: space-around;
  flex-wrap:wrap
}

.film_card {
  background-color: green;
  height:30vh;
  width :15vh;
  margin :2vw
}

.film_card:nth-child(2n){
  background-color:red
}